### This is test heading.

## Shortcuts
a- add cell above
b- add cell below
m- change cell to markdown
y- change cell to code
esc- goes outer of the cell
enter- goes to edit interface of the cell
dd- delete the cell
shift + enter - run cell and add new cell below
control + enter - run cell

In [1]:
# First python program
print('Hello, World!')

Hello, World!

In [2]:
# This is single line comment. (#)
# This is multi line comment.
# I can write many lines of comment here.
''' Is this also multiline comment
not actually a comment, is a string but treated as comment '''

' Is this also multiline comment\nnot actually a comment, is a string but treated as comment '

## python variables and literals

### python variables

In [3]:
a = 1
b = 2
c = 3

In [4]:
# changing the value of variable c to 10
c = 10

In [5]:
# assigning string value to variable str1
str1 = 'This is string.'

In [6]:
name, semester, roll = 'Harry', 7, 10

In [7]:
print(name)

Harry

### Literals

In [8]:
# numeric literals
# integer
# floating point
# complex
# string
# boolean
# characters

## Type Conversion

In [9]:
# There are two types of type conversions. They are:
# implict - does automatically by python
# explicit - user defined

In [10]:
int1 = 3
float1 = 3.3
result = int1 + float1
print(result)

6.3

In [11]:
# type() function
type(int1)

int

In [12]:
# explict int(), float()
result = int(result)

In [13]:
result

6

In [14]:
# Task: Create a variable for string value (abc) and convert ot int
# stirngValue = 'abc'
# intValue = int(stringValue)
# This above code gives error because letters can't be converted to integer.

In [15]:
# This will be the valid way to convert stirng to integer
validString = '123'
print(type(validString))
validString = int(validString)
print(validString)

<class 'str'>
123

## Input and Output

In [16]:
# Output by print()
print('This is out first python class.')

This is out first python class.

In [17]:
# output with message and variable.
myName = 'Kiran Shrestha'
print("My name is ", myName)

My name is  Kiran Shrestha

In [18]:
# output with many many variables
myAddress = 'Chabahil, Kathmandu'
print("My name is", myName, ". I currently live in ", myAddress, ".")

My name is Kiran Shrestha . I currently live in  Chabahil, Kathmandu .

In [19]:
# output using format
# first of all, we need to know about 'Placeholder'
print('My name is {}. I currently live in {}'.format(myName, myAddress))

My name is Kiran Shrestha. I currently live in Chabahil, Kathmandu

### Inputs

In [20]:
# input by sing input()
a = input()

In [21]:
a

''

In [22]:
type(a)

str

In [23]:
# input with message
b = input('Enter your age here: ')

In [24]:
b

'23'

In [25]:
# input with message and type conversion
age = int(input('Enter your age here: '))

In [26]:
age

24

In [27]:
print(type(age))

<class 'int'>

In [28]:
# task
name = input('Enter your name: ')
semester = input('Enter your semester: ')
roll = int(input('Enter your roll no: '))
height = float(input("What's your height?"))
print('\nName: ', name, '\nSemester: ', semester, '\nRoll no: ', roll, '\nHeight: ', height)

Name:  dff
Semester:  7
Roll no:  12
Height:  12.0

## python operators

In [29]:
# Types of operators in python
# Arithmetic Operators ( +, -, *, /, %, //, **)
# // -> double slash (floor division)
# ** -> double astrik (to the power)

a = 123
b = 4.5
c = 2
d = 3

In [30]:
a/b

27.333333333333332

In [31]:
a//b

27.0

In [32]:
a%b

1.5

In [33]:
c**d

8

In [34]:
# assignment operator (=, +=, -=, *=, /=, %=, **=)
x = 50

In [35]:
x += 5

In [36]:
print(x)

55

In [37]:
x -= 5

In [38]:
print(x)

50

In [39]:
x **= 2

In [40]:
print(x)

2500

In [41]:
# Comparison operators
a = 10
b = 20

In [42]:
a > b

False

In [43]:
print(type(a > b))

<class 'bool'>

In [44]:
a != b

True

In [45]:
# Logical Operators (and, or, not) returns boolean
a = 1
b = 2
c = 3
d = 4

In [46]:
(a > b) and (c < d)

False

### Identity Operator and Membership operator

In [47]:
# Indentity Operator ( is, is not)
m = 12
n = 13
m is n

False

In [48]:
m is not n

True

In [49]:
# membeship operator (in, not in)
list1 = [1, 2, 3, 4, 5]

In [50]:
1 in list1

True

In [51]:
6 in list1

False

In [52]:
10 not in list1

True

## Flow Controls

### If Else

In [53]:
# if else
name = 'Hobbs'
if name == 'Bob':
    print('Hey Bob.')
elif name == 'Hobbs':
    print("Hey Hobbs, I know you.")
else:
    print("You're not Bob!")

Hey Hobbs, I know you.

In [54]:
# Practice question
number = int(input("Enter a number: "))
if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is positive.

In [55]:
# practice question continued...
number = input("Enter a number: ")

if type(number) == int:
    if number > 0:
        print("The number is positive.")
    elif number < 0:
        print("The number is negative.")
    else:
        print("The number is zero.")
else:
    print("Invalid number! Plese enter a valid number.")

Invalid number! Plese enter a valid number.

## Control Statements

## For Loop

In [56]:
# for loop
content = [1, 2, 3, 'Ram', 'Sita']

In [57]:
for item in content:
    print(item)

1
2
3
Ram
Sita

In [58]:
# printing something upto some range
for i in range(10):
    print("Count with me: ", i + 1)

Count with me:  1
Count with me:  2
Count with me:  3
Count with me:  4
Count with me:  5
Count with me:  6
Count with me:  7
Count with me:  8
Count with me:  9
Count with me:  10

In [59]:
# using range as range(start, end, step)
for i in range(1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [60]:
# break
for i in range(1, 10):
    if i == 4:
        break
    print(i)

1
2
3

In [61]:
# continue
for i in range(1, 10):
    if i == 4:
        continue
    print(i)

1
2
3
5
6
7
8
9

## While Loop

In [62]:
# while loop
num = 1
while num <= 10:
    print(num)
    num +=1

1
2
3
4
5
6
7
8
9
10