# pass
for i in range(1, 10):
    pass

### Data Types

In [1]:
# data types in python
# numeric data types
# int
# float
# complex

In [2]:
k = 3 + 5j  # complex data type
type(k)

complex

In [3]:
# other data types are:
# binary
# octal
# hexadecimal

In [4]:
# random
import random
number = random.randrange(1,7)
print(number)

6

In [5]:
# example
students = ['Ram', 'Shyam', 'Hari', 'Sita', 'Krishna']

In [6]:
random.choice(students)

'Ram'

### Math Module

In [7]:
import math
print(math.pi)#

3.141592653589793

In [8]:
print(math.sin(30))

-0.9880316240928618

In [9]:
math.factorial(4)

24

### List

In [10]:
# creating a python list
# list - []
# dictionary/set - {}
# tuple - ()
# string - "" / ''

In [11]:
# 'list'
list1 = [1, 2, 'hello', 2 + 3j]

In [12]:
# creating empty list
list2 = []
list3 = [1, 2, 3, ['abc', 4.5]]

In [13]:
# what is mutable nad immutable data types in python?

In [14]:
list3[3][1]

4.5

In [15]:
# slicing
list4 = ['A', 'a', 'd', 'i', 'm', 'c', 'o', 'l', 'l', 'e', 'g', 'e']

In [16]:
list4[0:5]

['A', 'a', 'd', 'i', 'm']

In [17]:
list4[5:-1]

['c', 'o', 'l', 'l', 'e', 'g']

In [18]:
list4[5:]

['c', 'o', 'l', 'l', 'e', 'g', 'e']

In [19]:
list4[:7]

['A', 'a', 'd', 'i', 'm', 'c', 'o']

In [20]:
list4.append('Nepal')

In [21]:
list4

['A', 'a', 'd', 'i', 'm', 'c', 'o', 'l', 'l', 'e', 'g', 'e', 'Nepal']

In [22]:
# insert
list4.insert(2, 'Rainfall')

In [23]:
list4

['A',
 'a',
 'Rainfall',
 'd',
 'i',
 'm',
 'c',
 'o',
 'l',
 'l',
 'e',
 'g',
 'e',
 'Nepal']

In [24]:
# for list + list use extend
list1.extend(list4)

In [25]:
list1

[1,
 2,
 'hello',
 (2+3j),
 'A',
 'a',
 'Rainfall',
 'd',
 'i',
 'm',
 'c',
 'o',
 'l',
 'l',
 'e',
 'g',
 'e',
 'Nepal']

In [26]:
# change items in the list
list4[2] = 'BANANA'

In [27]:
list4

['A', 'a', 'BANANA', 'd', 'i', 'm', 'c', 'o', 'l', 'l', 'e', 'g', 'e', 'Nepal']

In [28]:
# remove
list4.remove('BANANA')
list4

['A', 'a', 'd', 'i', 'm', 'c', 'o', 'l', 'l', 'e', 'g', 'e', 'Nepal']

In [29]:
del list4[12]

In [30]:
list4

['A', 'a', 'd', 'i', 'm', 'c', 'o', 'l', 'l', 'e', 'g', 'e']

In [31]:
# finding length
len(list4)

12

In [32]:
# task 1: iterate over a list and print the index and value
theList = ['Nepal', 'India', 'China', 'Japan', 'Korea']

In [33]:
for index, value in enumerate(theList):
    print(index + 1, ":", value)

1 : Nepal
2 : India
3 : China
4 : Japan
5 : Korea

In [34]:
# tuple
# define a tuple
t1 = (1, 2, 3, 4, 5, 2, 1)

In [35]:
t1

(1, 2, 3, 4, 5, 2, 1)

In [36]:
print(type(t1))

<class 'tuple'>

In [37]:
# tuple is ordered, immutable and allows duplicates

In [38]:
# accessing values in tuple
t1[3]

4

In [39]:
# string
str1 = "Hey! Is 2025 going to be the hell of a year?"
print(str1)

Hey! Is 2025 going to be the hell of a year?

In [40]:
# indexing in string
str1[12:24]

' going to be'

In [41]:
str1[-1]

'?'

In [42]:
# string is immutable, so cannot assign values to indices

In [43]:
# compare
# join
# iterate
str2 = 'Hello,'
str3 = 'World !'
str4 = str2 + " " + str3

In [44]:
str4

'Hello, World !'

In [45]:
# membership
strr = 'This is the new string'

In [46]:
'This' in strr

True

In [47]:
# escape characters are those which use '\'

In [48]:
# fstirng
name = 'Andrea'
age = 25
print('Name: {} and age: {}'.format(name, age))

Name: Andrea and age: 25

In [49]:
print(f'Name is {name} and age is {age}')

Name is Andrea and age is 25

### sets

In [50]:
# sets are: unique (no duplicates), unordered
set1 = {4, 5, 6, 2, 3, 4, 1}

In [51]:
set1

{1, 2, 3, 4, 5, 6}

In [52]:
# defining empty set
s1 = set()

In [53]:
type(s1)

set

In [54]:
# supports set oprations like union, intersetcion, differece

In [55]:
#add
s1.add("Kathmandu")

In [56]:
s1

{'Kathmandu'}

In [57]:
# create 2 sets and perform union, intersection and differnce

In [58]:
set1 = {'Spain', 'England', 'France', 'Germany', 'Turkey'}

In [59]:
set2 = {'Korea', 'Japan', 'Turkey', 'Thailand', 'India'}

In [60]:
set2 - set1

{'India', 'Japan', 'Korea', 'Thailand'}

In [61]:
set1.union(set2)

{'England',
 'France',
 'Germany',
 'India',
 'Japan',
 'Korea',
 'Spain',
 'Thailand',
 'Turkey'}

In [62]:
set1.intersection(set2)

{'Turkey'}

In [63]:
# union also can be used as
set1 | set2

{'England',
 'France',
 'Germany',
 'India',
 'Japan',
 'Korea',
 'Spain',
 'Thailand',
 'Turkey'}

In [64]:
# intersection also can be used as
set1 & set2

{'Turkey'}

In [65]:
# difference
set1.difference(set2)

{'England', 'France', 'Germany', 'Spain'}

In [66]:
# symmetric difference
set1.symmetric_difference(set2)

{'England',
 'France',
 'Germany',
 'India',
 'Japan',
 'Korea',
 'Spain',
 'Thailand'}

In [67]:
# subset
set1.issubset(set2)

False

In [68]:
# accessing set elements
for i in set1:
    print(i)

France
Turkey
England
Germany
Spain

In [69]:
# dictionary
# its key: value pair

capitals = {
    'Nepal' : 'Kathmandu',
    'India' : 'New Delhi',
    'Japan' : 'Tokyo'
}

In [70]:
capitals

{'Nepal': 'Kathmandu', 'India': 'New Delhi', 'Japan': 'Tokyo'}

In [71]:
type(capitals)

dict

In [72]:
# accessing using key
capitals['Nepal']

'Kathmandu'

In [73]:
# Adding new items to the dictionary
capitals['Korea'] = 'Seoul'

In [74]:
capitals

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Japan': 'Tokyo',
 'Korea': 'Seoul'}

In [75]:
# deleting
del capitals['India']

In [76]:
capitals

{'Nepal': 'Kathmandu', 'Japan': 'Tokyo', 'Korea': 'Seoul'}

In [77]:
# iterating
for data in capitals:
    print(data)

Nepal
Japan
Korea

In [78]:
for data in capitals:
    print(data, "->", capitals[data])

Nepal -> Kathmandu
Japan -> Tokyo
Korea -> Seoul

In [79]:
capitals.values()

dict_values(['Kathmandu', 'Tokyo', 'Seoul'])

In [80]:
capitals.keys()

dict_keys(['Nepal', 'Japan', 'Korea'])

In [81]:
# Task - creat a dictionary with mulitple data
# name: Ram, Shyam, Hari
# Age: 22, 21, 25

persons: {
    'Name' : ['Ram', 'Shyam', 'Hari'],
    'Age' : [22, 21, 25]
}

In [82]:
# Task
fruits = {
    'apple' : 3,
    'banana' : 5, 
    'orange': 2
}

In [83]:
fruits['grape'] = 4

In [84]:
fruits

{'apple': 3, 'banana': 5, 'orange': 2, 'grape': 4}

In [85]:
fruits['banana'] = 6

In [86]:
fruits

{'apple': 3, 'banana': 6, 'orange': 2, 'grape': 4}

In [87]:
del fruits['orange']

In [88]:
fruits

{'apple': 3, 'banana': 6, 'grape': 4}

## Functions

In [89]:
# # function statement:
# def function_name(arguments):
#     # code to execute

In [90]:
# Task
# Create a function circle that calculate the area
def circle(radius):
    print('Area of circle with radius', radius, 'is', 3.14 * radius * radius, '.')

In [91]:
circle(5)

Area of circle with radius 5 is 78.5 .

In [92]:
# task to create a function toa dd two numbers
def two_sum(num1, num2):
    print(f'Sum of {num1} and {num2} is {num1 + num2}.')

In [93]:
two_sum(5, 2)

Sum of 5 and 2 is 7.

In [94]:
# *args and **kwargs
def add_(*args):
    print(sum(args))

In [95]:
add_(1, 2, 3, 4, 5, 6, 7, 8, 9)

45

In [96]:
add_(3, 4, 2, 5, 6, 1, 8)

29

In [97]:
# **kwargs - reference - keyword argument
def add_(**kwargs):
    print(kwargs)

In [98]:
add_(a = 1, b = 3)

{'a': 1, 'b': 3}

In [99]:
# keyword arugment
def max_(a, b):
    if a > b:
        print(a)
    else: print(b)

In [100]:
max_(b = 10, a = 7)

10

In [101]:
# task - creat a python function that takes multiple argument and count the no. of arguments that are > 5

def counting(*args):
    count = 0
    listing = []
    for arg in args:
        if arg > 5:
            listing.append(arg)
            count += 1
    print(count)
    print(listing)

In [102]:
counting(1, 2, 3, 4, 5, 6, 7, 8, 9)

4
[6, 7, 8, 9]

In [103]:
# variable scope
# global -> uses 'global' keyword
# local
# non local -> in the condition of nested function, if inner function defines the variable with 'nonlocal' keyword, outer function can access it.

In [104]:
# Recursive function
def factorial(num):
    if num == 1:
        return 1
    else:
        return num * factorial(num - 1)
result = factorial(5)

In [105]:
result

120

In [106]:
# importing module

from math import pi
pi

3.141592653589793

In [107]:
# main fuction in python
def main():
    print ('This is main function.')
    
if __name__ == '__main__':
    main()

This is main function.

## File handling

In [108]:
# to check if file exists or not
import os
if os.path.exists('python.txt'):
    print('File exists.')
else:
    print('No file available.')

File exists.

In [109]:
os.getcwd()

'e:\\Practice\\Python\\CatchingPython'

In [110]:
with open('python.txt', 'r') as file:
    content = file.read()
    print(content)

This is the testing file for file handling.This isn't that much fun. Doing some tasks in here.

In [111]:
file = open('python.txt', 'r')

In [112]:
file.read()

"This is the testing file for file handling.This isn't that much fun. Doing some tasks in here."

In [113]:
# file opening modes
# r -> read only if file exists
# w -> write (if file does not exists, creates new file)
# x -> create an new file for writing, if already exists, it fails
# a -> append, open file for appending, if does not exists creaes new file
# b -> binary mode
# + -> r+, w+

In [114]:
with open('python.txt', 'w') as file:
    file.write('This is the testing file for file handling.')

In [115]:
with open('python.txt', 'a') as file:
    file.write("This isn't that much fun.")

In [116]:
# file closing
file.close()

In [117]:
# task
# open a new file, if does not exists, create a new file and write 'This is a notebook' then append 'task1- learn python'

if os.path.exists('python.txt'):
    with open('python.txt', 'r') as file:
        content = file.read()
else:
    with open('python.txt', 'w') as file:
        file.write('This is a notebook.')
        
with open('python.txt', 'a') as file: 
        file.write(' Doing some tasks in here.')

### Exception Handling

In [118]:
 # division program
try:
    num1 = int(input('Enter first number: '))
    num2 = int(input('Enter second number: '))
    print(num1/num2)
except ZeroDivisionError:
    print('Second number is zero.')
except ValueError:
    print('Invalid number! Please enter a valid number')

0.5217391304347826

In [119]:
# Write a python program that opens a file and handles a 'FileNotFoundError' exception if the file does not exist.
try:
    with open('anaconda.txt', 'r') as file:
        content = file.read()
        print(content)
except FileNotFoundError:
    print("You don't have that file dude.")

You don't have that file dude.